<div class="max-w-md mx-auto bg-white shadow-md rounded-md p-8">
  <!-- Barra de búsqueda -->
  <div class="flex items-center mb-6">
    <input type="text" placeholder="Buscar ciudad..." class="flex-1 border-gray-300 border-2 p-2 mr-4 rounded-md focus:outline-none focus:border-blue-500" [(ngModel)]="searchQuery" (input)="onSearchChange()">
    <button class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none" (click)="search()">Buscar</button>
  </div>

  <!-- Imagen/icono del clima -->
  <div class="text-center mb-6">
    <img src="assets/sun.png" alt="Clima" class="w-32 h-32 mx-auto">
  </div>

  <!-- Temperatura -->
  <div class="text-center mb-4">
    <p class="text-4xl font-semibold">{{ weatherData?.main?.temp }}°C</p> <!-- Accede a la temperatura desde main.temp -->
  </div>

  <!-- Nombre de la ciudad -->
  <h1 class="text-xl font-semibold text-center mb-4">{{ weatherData?.name }}</h1> <!-- Accede al nombre de la ciudad desde name -->

  <!-- Información adicional del clima -->
  <div class="flex justify-between">
    <div>
      <p>Viento: {{ weatherData?.wind?.speed }} km/h</p> <!-- Accede a la velocidad del viento desde wind.speed -->
      <p>Humedad: {{ weatherData?.main?.humidity }}%</p> <!-- Accede a la humedad desde main.humidity -->
      <p>Precipitación: {{ weatherData?.main?.pressure }}%</p> <!-- Accede a la presión atmosférica desde main.pressure -->
    </div>
  </div>
</div>


